* {
    font-family: "Jost", sans-serif;
}

.jost {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}
body {
    background-color: #121212;
    color: #E0E0E0;
}
/* Container del nav */
.container {
    display: flex;
    min-width: 100vh;
    justify-content: space-between;
}

.sidebar {
    width: 250px;
    height: 690px;
    padding: 20px;
    background-color: #1F1F1F;
    margin-right: 20px;
    border-radius: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 10px;
    align-items: center;
}

.sidebar li {
    margin-bottom: 10px;
    position: relative; 
}

.sidebar a {
    display: block;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #E0E0E0;
    padding: 10px;
}

.sidebar img {
    width: 100%;
    height: auto;
    padding-bottom: 100px;
}

.sidebar a:hover {
    color: #4CAF50;
}

/* Estilo del dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    padding: 8px 10px;
    display: block;
    color: #E0E0E0;
}

.dropdown-content a:hover {
    color: #45a049;
}

.dropdown .show {
    display: block;
}

/* Container de registros monetarios */
.right-container {
    width: 150vh;
    height: 690px;
    background-color: #1F1F1F;
    padding: 20px;
    border-radius: 20px;
    margin-right: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    font-size: 24px;
    color: #E0E0E0;
}

.header h2 {
    color: white;
    margin-left: 62px;
    margin-right: 20px;
}

.btnAdd {
    padding: 5px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 80px;
}

.btnAdd:hover {
    background-color: #38713a;
}

.imagen img {
    width: 200px;
    height: 200px;
    margin-left: 350px;
}

.registro {
    display: flex;
    align-items: flex-start;
    width: 80%;
    margin: 0 auto;
    background-color: #333;
    padding: 10px;
    box-shadow: 0 5px rgba(0, 0, 0, 0.1);
    min-height: 20px;
    border-radius: 20px;
    margin-top: 20px;
}

.registro i {
    font-size: 30px;
    margin-right: 20px;
    margin-top: 17px;
    color: #4CAF50;
}

.derecho {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.texto-arriba {
    font-size: 15px;
    color: #C2C3CC;
    margin-top: 10px;
}

.texto-abajo {
    font-size: 15px;
    color: #4CAF50;
}

/* Container de la información de la cuenta */
.container-info {
    width: 50vh;
    height: 690px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    background-color: #1F1F1F;
}

.header-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 30px;
}

.imagen-container {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    overflow: hidden;
}

.imagen-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-container {
    margin-top: 20px;
}

.text-container p {
    margin: 5px 0;
    font-size: 24px;
    color: #E0E0E0;
}

.text-container h3 {
    color: #787878fd;
}

.datos-container {
    display: flex;
    width: 70%;
    margin: 0 auto;
    background-color: #333;
    padding: 30px;
    min-height: 300px;
    border-radius: 20px;
    margin-top: 20px;
}

.dato-info {
    display: flex;
    flex-grow: 1;
}

.texto-info-cuenta {
    font-size: 20px;
    color: #C2C3CC;
    margin-top: 10px;
}

.texto-info {
    font-size: 17px;
    color: #E0E0E0;
}

.icon-text i {
    font-size: 20px;
    color: #45a049;
    margin-top: 20px;
}

.icon-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.icon-text span {
    margin-top: 20px;
    margin-left: 70px;
    color: #45a049;
    font-size: 17px;
}

/* Estilos para los modales */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    animation: slideDown 0.5s;
}

@keyframes slideDown {
    from { top: -100%; opacity: 0; }
    to { top: 0; opacity: 1; }
}

.modal-content {
    background-color: #333;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#formAgregarMeta {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#formAgregarMeta label {
    font-weight: bold;
}

#formAgregarMeta input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#formAgregarMeta button {
    padding: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#formAgregarMeta button:hover {
    background-color: #45a049;
}

#formAgregarMeta input {
    background-color: #1F1F1F;
}

