* {
    font-family: "Jost", sans-serif;
}

.jost {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

/* Container del nav */
.container {
    display: flex;
    min-width: 100vh;
}

.sidebar {
    width: 250px;
    height: 690px;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 10px;
    align-items: center;
}

.sidebar li {
    margin-bottom: 10px;
    position: relative; 
}

.sidebar a {
    display: block;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #333;
    padding: 10px;
}

.sidebar img {
    width: 100%;
    height: auto;
    padding-bottom: 100px;
}

.sidebar a:hover {
    color: #4CAF50;
}

/* Estilo del dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    padding: 8px 10px;
    display: block;
    color: #333;
}

.dropdown-content a:hover {
    color: #45a049;
}

.dropdown .show {
    display: block;
}

/* Container de registros monetarios */
.right-container {
    width: 150vh;
    height: 690px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.header h2 {
    margin-left: 62px;
    margin-right: 270px;
}

.btnAdd {
    padding: 5px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 8px;
}

.btnAdd:hover {
    background-color: #38713a;
}

.btn {
    padding: 5px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 80px;
}

.btn:hover {
    background-color: rgb(175, 22, 22);
}

.registro {
    display: flex;
    align-items: flex-start;
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 10px;
    box-shadow: 0 5px rgba(0, 0, 0, 0.1);
    min-height: 20px;
    border-radius: 20px;
    margin-top: 20px;
}

.registro h1 {
    font-size: 25px;
    margin-right: 20px;
}

.derecho {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.texto-arriba {
    font-size: 15px;
    color: #C2C3CC;
    margin-top: 10px;
}

.texto-abajo {
    font-size: 15px;
}

.izquierdo {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: end;
}

.texto-arribaM {
    font-size: 15px;
    margin-top: 10px;
    color: #45a049;
}

.texto-abajoM {
    font-size: 15px;
    color: red;
}

.accordion li {
    list-style: none;
}

.accordion li label {
    margin-left: 0;
    padding-left: 0;
    display: block;
}

input[type="radio"] {
    display: none;
}

.accordion .content {
    color: #555;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="radio"]:checked + label + .content {
    max-height: 400px;
    padding: 10px 10px 20px;
}

/* Container de la información de la cuenta */
.container-info {
    width: 50vh;
    height: 690px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
}

.header-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 30px;
}

.imagen-container {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    overflow: hidden;
}

.imagen-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-container {
    margin-top: 20px;
}

.text-container p {
    margin: 5px 0;
    font-size: 24px;
}

.text-container h3 {
    color: #787878fd;
}

.datos-container {
    display: flex;
    width: 70%;
    margin: 0 auto;
    background-color: #f0f0f0;
    padding: 30px;
    min-height: 300px;
    border-radius: 20px;
    margin-top: 20px;
}

.dato-info {
    display: flex;
    flex-grow: 1;
}

.texto-info-cuenta {
    font-size: 20px;
    color: #C2C3CC;
    margin-top: 10px;
}

.texto-info {
    font-size: 17px;
}

.icon-text i {
    font-size: 20px;
    color: #45a049;
    margin-top: 20px;
}

.icon-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.icon-text span {
    margin-top: 20px;
    margin-left: 70px;
    color: #45a049;
    font-size: 17px;
}

/* Información de los registros monetarios */
.info-registro {
    display: flex;
    align-items: flex-start;
    width: 60%;
    margin: 0 auto;
    background-color: white;
    padding: 10px;
    box-shadow: 0 5px rgba(0, 0, 0, 0.1);
    min-height: 20px;
    border-radius: 20px;
    margin-top: 10px;
}

.iconos {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.iconos i {
    font-size: 25px;
    margin-right: 20px;
    margin-left: 5px;
    margin-top: 27px;
    margin-bottom: 25px;
    color: #4CAF50;
}

.derecho {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.texto-arriba {
    font-size: 15px;
    color: #C2C3CC;
    margin-top: 10px;
}

.texto-abajo {
    font-size: 15px;
    margin-bottom: 20px;
}

.izquierdo {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: end;
}

.texto-arribaM {
    font-size: 15px;
    margin-top: 10px;
    color: #45a049;
}

.texto-abajoM-Margin {
    font-size: 15px;
    color: red;
    margin-bottom: 20px;
}


/* Estilos para los modales */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    animation: slideDown 0.5s;
}

@keyframes slideDown {
    from { top: -100%; opacity: 0; }
    to { top: 0; opacity: 1; }
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.scroll-container {
    max-height: 600px;
    overflow-y: auto; 
}
/* CSS para mis form hecho por Diego (alguien mateme no usar css) */
form {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group select,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .form-group textarea {
    resize: vertical;
  }
  

  